.container {
  width: 100%;
  height: 728px; /* Ajuste conforme necessário */
  overflow: hidden;
}

.header-image {
  width: calc(100vw + 150px); /* Aumenta a largura para estender além da tela */
  height: 100%; /* Altura da imagem */
  object-fit: cover; /* Mantém a proporção da imagem */
  margin-left: -150px; /* Ajusta a imagem para a esquerda para centrar */
}
